<form action='/users' method='post'>
    Your Name: <input type='text' name='name'>
    Dojo Location: <select name = "location">
                        <option value="Mountain View">Mountain View</option>
                        <option value="San Jose">San Jose</option>
                        <option value="New York">New York</option>
                        <option value="Toronto">Toronto</option>
                </select>
    Favorite Language:<select name= "fav_lang">
                        <option value="Javascript">Javascript</option>
                        <option value="Python">Python</option>
                        <option value="Swift">Swift</option>
                        <option value="Java">Java</option>
                </select>
    Comment (optiona1): <textarea name="comment" rows="8" cols="80"></textarea>
    <input type='submit' value='Submit'>
</form>
