<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5BE7A091E6E6EAA00A5A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5BE7A1D1E6E6EAB00A5A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5BE7A281E6E6EAB00A5A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
