<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='/users' method='post'>

          Your First Name: <input type='text' name='first_name'>
          Your Last Name: <input type='text' name='last_name'>
          Password:<input type="text" name='password'>
          Confirm Password:<input type="text" name='confirm_password'>
          Your Email:<input type="text" name="email">
          <input type='submit' value='Submit'>
      </form>
      {% with messages = get_flashed_messages() %}
           {% if messages %}
             {% for message in messages %}
               <p>{{message}}</p>
             {% endfor %}
           {% endif %}
       {% endwith %}
    </body>
</html>
